body {
    margin: 0 auto;
    padding-left: 1.5rem;
}



/* LIST */
.top {
    display: flex;
    justify-content: space-between;
    padding-left: 7rem;
}
.space__between {
    display: flex;
    justify-content: space-between;
}
.seeMore {
    margin: 1.5rem;
    border-radius: 1rem;
    border: 2px solid grey;
    color: grey;
    background-color: white;
}


.movie__img {
    width: 10rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px grey;
}
.movie__img2 {
    width: 7rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
}
.movie__section {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
}
.movie__title {
    font-family: Poppins;
    font-weight: 400;
}
.div2 {
    display: flex;
}
.movie__info {
    padding-left: 1rem;
}

.genres {
    background-color: rgb(196, 229, 246);
    color: rgb(128, 180, 224);
    border-radius: 1rem;
    padding: 0 0.5rem;
}



/*FOOTER*/
footer {
   position: fixed;
   bottom: 0px;
   width: 20rem;
   height: 4rem;
  background-color: white;
}
.tags {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
